<div class="row">
  <div class="Avatar col l8 s12">
    <%=image_tag(@post.image.url(:medium)) %>
  </div>
</div>

<div class ="row">
 <div class="col l1">
 <i class="tiny material-icons">thumb_up</i><%= @post.get_upvotes.size %>
 </div>

 <div class="col l1">
 <i class="tiny material-icons">thumb_down</i><%= @post.get_downvotes.size %>
 </div>

</div>
<div  class="row">
    <div class="dislike col l2">
      <%= link_to "Dislike", dislike_post_path(@post), method: :put, :class => "btn red" %> <br>
    </div>
    <div class="like col l2">
      <%= link_to "Like", like_post_path(@post), method: :put, :class => "btn green" %>
    </div>
  <div class="col l2" style="float:right">
    <%= link_to 'Edit', edit_post_path(@post), :class => "btn" %>
  </div>
</div>


<div class="row">
<% @comments.each do |comment| %>

  User: <%= comment.user.email %> <br>
  Comment: <%= comment.content %>
  <hr>
<% end %>
</div>

<%=  render("comments/form") %>
